* {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Roboto;
  }
  
  
  body {
    background-color: #121214;
  }
  
  main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
  }
  
  input {
    border-bottom: 1px solid #333333;
    width: 125px;
    margin: 2px 6px;
    background-color: transparent;
  }
  
  form, button {
    border: 1px solid #6833e4;
    border-radius: 8px;
    background: #4d4d57;
  }
  
  form {
    padding: 12px 16px;
    width: fit-content;
    height: auto;
  }
  
  .row {
    padding: 8px;
    margin: 16px 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .row-wrapper {
    display: flex;
  }
  
  .flex-content {
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  form label {
    font-weight: 600;
  }
  
  form h3 {
    font-size: 22px;
  }
  
  button {
    padding: 12px 16px;
    background-color: #8257e5;
    font-weight: 600;
  }
  
  button:hover {
    cursor: pointer;
    background-color: #9466ff;
  }